@font-face {
  font-family: 'archistico';
  src: url('../fonts/archistico-webfont.eot');
  src: url('../fonts/archistico-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archistico-webfont.woff') format('woff'),
       url('../fonts/archistico-webfont.ttf') format('truetype'),
       url('../fonts/archistico-webfont.svg#archistico') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latin-modern-roman';
  src: url('../fonts/latin-modern-roman-webfont.eot');
  src: url('../fonts/latin-modern-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/latin-modern-roman-webfont.woff') format('woff'),
       url('../fonts/latin-modern-roman-webfont.ttf') format('truetype'),
       url('../fonts/latin-modern-roman-webfont.svg#latin-modern-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'note-this';
  src: url('../fonts/note-this-webfont.eot');
  src: url('../fonts/note-this-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/note-this-webfont.woff') format('woff'),
       url('../fonts/note-this-webfont.ttf') format('truetype'),
       url('../fonts/note-this-webfont.svg#note-this') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playtime';
  src: url('../fonts/playtime-webfont.eot');
  src: url('../fonts/playtime-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playtime-webfont.woff') format('woff'),
       url('../fonts/playtime-webfont.ttf') format('truetype'),
       url('../fonts/playtime-webfont.svg#playtime') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print-clearly';
  src: url('../fonts/print-clearly-webfont.eot');
  src: url('../fonts/print-clearly-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/print-clearly-webfont.woff') format('woff'),
       url('../fonts/print-clearly-webfont.ttf') format('truetype'),
       url('../fonts/print-clearly-webfont.svg#print-clearly') format('svg');
  font-weight: normal;
  font-style: normal;
}